p{
    color:slategray;
    
}
img,figcaption{
    display:inline;
    margin: 50px;
    background-image: url(https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding: 20px;
}
.buttons{
    text-align: center;
    margin-top: 6px;
    background-color:bisque;
}
.btn{
    border: 3px solid cyan;
    background-color:rgb(89, 0, 255);
    padding: 10px 20px;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    margin:10px;
    color: black;
    position: relative;
    transition: 0.8s;
    
}
.btn1:hover{
    color:darkgoldenrod;
    font-weight: bolder;
}
.btn1::before{
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 0%;
    background: aliceblue;
    z-index: 1;
    transition: 1s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50% ;
}
.btn1:hover::before{
    height: 40%;

}
.buttons{
    background-color: springgreen;
}

